* {
  padding: 0;
  margin: 0;
}

// Default Color
$color-1: #fff;
$color-2: #f0c14b;
$color-3: #cd9042;
$color-4: #000;
$color-5: #f3f3f3;
$color-6: #ddd;

// Border Color
$color-border-1: #a88734;
$color-border-2: #9c7e31;
$color-border-3: #846a29;
